<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-top: 10%;
  background-color: #000;
  color: #fff;
  padding: 20px;
}
</style>
</head>
<body>
    <div class="center">
        <p th:text="'Hello, ' + ${name} + '!'" />
        <p>This is 30 hours of "hello world" using:
            <ol>
                <li>Java Spring</li>
                <li>Maven</li>
                <li>Docker Dind</li>
                <li>Jenkins Pipeline</li>
                <li>and Heroku as Deployment Platform</li>
            </ol>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <i>Is it worth it?</i>
            <br />
            <b>Yes. This stack is so brand new for me; but, I can get through it.</b>
            <br />
            <b>So, I am celebrating this baby step 🐣</b>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <i>Visit my, 
                <br />website: <a style="color: #fff" href="https://rozik.in">https://rozik.in</a>
                <br />blog: <a style="color: #fff" href="https://blog.rozik.in">https://blog.rozik.in</a>
            </i>
        </p>
    </div>
    

</body>
</html>



