<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p>This is 8 hours of "hello world" using:
        <ol>
            <li>Java Spring</li>
            <li>Maven</li>
            <li>Docker Dind</li>
            <li>Jenkins Pipeline</li>
            <li>and Heroku as Deployment Platform</li>
        </ol>
        <br />
        <i>Is it worth it? :</i>
        <br />
        <b>Yes. This stack is so brand new for me; but, I can get through it.</b>
        <br />
        <b>So, I am celebrating this baby step.</b>

    </p>
</body>
</html>
